{{/* A commit hash, linked to the hosting site when a commit URL is set. Takes
     a dict of "URL" (the base URL) and "Commit". */}}
{{define "commit" -}}
{{- if .URL -}}
<a class="commit" href="{{.URL}}{{.Commit.Hash}}" rel="noopener noreferrer" title="{{.Commit.Hash}}"><code>{{.Commit.Short}}</code></a>
{{- else -}}
<code title="{{.Commit.Hash}}">{{.Commit.Short}}</code>
{{- end -}}
{{end}}

{{/* A commit subject that links to the hosting site. Takes the same dict as
     "commit"; the full hash stays available as the title either way. */}}
{{define "commit-subject" -}}
{{- if .URL -}}
<a class="commit" href="{{.URL}}{{.Commit.Hash}}" rel="noopener noreferrer" title="{{.Commit.Hash}}">{{.Commit.Subject}}</a>
{{- else -}}
<span title="{{.Commit.Hash}}">{{.Commit.Subject}}</span>
{{- end -}}
{{end}}
