{{define "content" -}}
<article class="page error">
  <h1>{{.Status}}</h1>
  <p>{{.Message}}</p>
  <p><a href="/">Go to the home page</a> or <a href="/pages">browse all pages</a>.</p>
</article>
{{- end}}
