{{define "content" -}}
{{template "breadcrumbs" dict "Trail" .Breadcrumbs "Path" .Path}}

<article class="page">
  {{template "toc" .Doc.TOC}}
  {{.Doc.HTML}}
</article>

{{template "page-meta" dict "Path" .Page.Path "Commit" .LastCommit "HasHistory" .HasHistory "CommitURL" .CommitURL}}
{{- end}}
